<footer class="fixed-bottom bg-dark text-white-50 text-center font-small mt-5 ">
  <div class="pt-2">
    <div class="pb-1">
      <a href="https://www.facebook.com/profile.php?id=100041303625256">
        <i class="fa fa-facebook mr-3"></i>
      </a>
      <a href="https://www.instagram.com/t1neoff">
        <i class="fa fa-instagram mr-3"></i>
      </a>
      <a href="https://t.me/t1neoff">
        <i class="fa fa-telegram mr-3"></i>
      </a>
      <a href="https://github.com/OlehIlchyshyn">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div class="footer-copyright py-2">
      Made by Oleh Ilchyshyn PZ-23
    </div>
  </div>
</footer>
