<div class="card">
  <h5 class="card-header text-center">Rooms</h5>
  <div class="card-body">

    <% if @rooms.present? %>
      <nav class="nav flex-column">
        <% @rooms.each do |room| %>
          <%= link_to room.name, room_path(room), class: 'nav-link room-nav-link' %>
        <% end %>
      </nav>
    <% else %>
      <div class="text-muted">
        The are no rooms
      </div>
    <% end %>

    <div class="mt-4">
      <%= link_to new_room_path, class: 'btn btn-primary' do %>
        Create new room
      <% end %>
    </div>

  </div>
</div>
