<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col-12 col-md-7">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Live Chat!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
</div>

<%= render partial: 'shared/userlist' %>
